VS_VERSION_INFO VERSIONINFO
    FILEVERSION    1,388,0,1
    PRODUCTVERSION 1,38,8,1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",        "Autodesk Inc.\0"
            VALUE "FileDescription",    "MaterialX\0"
            VALUE "FileVersion",        "1.388.0.1\0"
            VALUE "LegalCopyright",     "Copyright © 2023 Autodesk Inc. All Rights Reserved\0"
            VALUE "OriginalFilename",   "MaterialXCore.dll\0"
            VALUE "ProductName",        "MaterialX\0"
            VALUE "ProductVersion",     "1.38.8.1\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}